a {
  text-decoration: none;
  color: #e6783e;
}

a:hover,
a:active {
  color: #ec5504;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50vh;
  overflow: auto;
}
