article {
  padding: 1rem;
  color: #25113d;
  background-color: #80a2e1;
}

h2 {
  margin: 0;
}

time {
  color: #3c2c50;
}

.actions {
  text-align: right;
  margin: 0;
}

.actions button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #0a51d5;
  color: #b0c5ea;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.actions button:hover,
.actions button:active {
  background: linear-gradient(to bottom, #f8b823, #dfd07f);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  color: #4b7cd7;
}
